@import '../../../../../libs/design-system/base.scss';

.subjecttag {
  background: 'white';
  padding: '6px 8px';
  width: 'fit-content';
  border-radius: 4;
  color: '#545459';
  font-size: '14px';
  font-weight: '500';
  margin-right: '8px';
  margin-bottom: '8px';
  border: '1px solid #E3E3E8';
}

.imgcontainer {
  background: '#E3E3E8';
  width: 'calc(100% + 32px)';
  margin: '-16px -16px 20px';
  height: '240px';
}

.chakra-tabs__tab-panel {
  padding: 0 !important;
}
