@import '../../../../libs/design-system/base.scss';

.container {
  @include container;

  .innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;

    .img {
      margin-top: 20px;
      width: 328px;
      height: 328px;
    }

    .logo {
      width: 80px;
      height: 20px;
    }

    .logoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      .descContainer {
        padding: 12px 9px;
        text-align: center;

        .desc {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
        }

        .time {
          color: $gray-500;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .button {
      margin: 56px 16px;
      width: 100%;
      height: 48px;
    }
  }
}
