@import '../../../../../libs/design-system/base';

.container {
  @include container;
}

.subjecttag {
  background: white;
  padding: 6px 8px;
  width: fit-content;
  border-radius: 4px;
  color: #545459;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #E3E3E8;
}

.chakra-tabs__tab-panel {
  padding: 0 !important;
}
.css-a5mhaz {
  padding: var(--chakra-space-4);
}

.tab_list {
  position: sticky;
  top: 0;
  background: #FFFDF9;
  z-index: 1100;
}

.header {
  height: 68px;
  flex: 0 0 auto;
  text-align: center;
}

.header_title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-right: 40px;
}
