@import '../../../../libs/design-system/base.scss';

.container {
    @apply flex flex-wrap w-full h-full relative;

    background-color: $background-color;
    max-width: 600px;
    margin: 0 auto;

    .innerContainer {
        @apply flex justify-center items-center w-full h-full
    }
}