@import '../../../../libs/design-system/base.scss';

.container {
    @include container
}

.innerContainer{
  display: flex;
  flex-direction: column;
  gap: 136px;
}

.titleWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.title {
  text-align: center;
  color: $gray-900;
  font-size: 18px;
}
